<div class="home-page" id="banner">
	<div class="container">
		<div class="wrap clearfix" id="inner-content">

		</div> <!-- end #inner-content -->
	</div> <!-- end .container-->
</div>


<div class="container">
    <div class="col-md-4">
        <div class="btn-group">
		    <button type="button" class="btn btn-default">All</button>
            <button type="button" class="btn btn-default">Road</button>
            <button type="button" class="btn btn-default">Lane</button>
        </div>
        <br /><br />
    
        <ul class="list-group">
            <li class="list-group-item">
            <span class="badge">2 days</span>
            Sesame Street
            </li>
            <li class="list-group-item">
            <span class="badge">12 days</span>
            Oscar
            </li>
            <li class="list-group-item">
            <span class="badge">12 days</span>
            Ernie
            </li>
            <li class="list-group-item">
            <span class="badge">12 days</span>
            Count
            </li>
            <li class="list-group-item">
            <span class="badge">12 days</span>
            Snuffy
            </li>
        </ul>
    </div>
    <div class="col-md-8">
        <div class="well">
            <div id="map-canvas">
            
            </div>
        </div>
    </div>
</div>