<div ng-controller="EditEventController" style="padding: 0 20px;">
    <div class="container">
        <h1>New Event</h1>
        <hr/>
        <form name="newEventForm" class="form-horizontal" action="">
            <fieldset>
                <div class="form-group">
                    <label for="eventName">Event Name:</label>
                    <input id="eventName" type="text" required ng-model="event.name" placeholder="Name of your event..." />
                </div>

                <div class="form-group">
                <label for="eventDate">Event Date:</label>
                <input id="eventDate" type="text" required ng-pattern="/\d\d/\d\d/\d\d\d\d/" ng-model="event.date" placeholder="format (mm/dd/yyy)..." />
                </div>

                <div class="form-group">
                <label for="eventTime">Event Time:</label>
                <input id="eventTime" type="text" ng-model="event.time" placeholder="start and end time..." />
                </div>

                <div class="form-group">
                <label for="eventLocation">Event Location:</label>
                <input id="eventLocation" type="text" ng-model="event.location.address" placeholder="Address of event..." />
                </div>

                <div class="form-group">
                <input id="eventCity" class="input-small" ng-model="event.location.city" type="text" placeholder="City..." />
                <input id="eventProvince" class="input-small" ng-model="event.location.province" type="text" placeholder="Province..." />
                </div>

                <div class="form-group">
                <label for="eventImageUrl">Event Location:</label>
                <input id="eventImageUrl" ng-model="event.imageUrl" type="text" placeholder="Url of image..." />
                </div>
            </fieldset>


            <img ng-src="{{event.imageUrl }}" src="" />
            <br />
            <br />

            <button type="submit" ng-disabled="newEventForm.$invalid" ng-click="saveEvent(event, newEventForm)" class="btn btn-primary">Save</button>
            <button type="button" ng-click="cancelEdit()" class="btn btn-default">Cancel</button>
        </form>

    </div>
</div>