
<div style="padding: 0 20px;">

    <h3>{{ service.name }}</h3>

    Order by:
    <select ng-model="sortorder" class="input-small">
        <option selected value="name">Name</option>
        <option value="-upVoteCount">Votes</option>
    </select>

    Show:
    <select ng-model="query.level" class="input-small">
        <option selected value="">All</option>
        <option value="introductory">Introductory</option>
        <option value="intermediate">Intermediate</option>
        <option value="advanced">Advanced</option>
    </select>
    <br /><br />

    <div ng-repeat="session in service.requests | orderBy:sortorder | filter:query">
        <div class="row well session">
            <div class="col-sm-1 panel votingWidget">
                <div class="votingButton" ng-click="upVoteSession(session)">
                    <i class="glyphicon glyphicon-chevron-up"></i>
                </div>
                <div class="badge badge-inverse">
                    <div>
                        {{session.upVoteCount}}
                    </div>
                </div>
                <div class="votingButton" ng-click="downVoteSession(session)">
                    <i class="glyphicon glyphicon-chevron-down"></i>
                </div>
            </div>
            <div class="panel col-sm-9 col-sm-offset-1">
                <div class="panel-body">
                    <h4 class="well-title">{{session.name}}</h4>
                    <h6 style="margin-top: -8px;">{{session.category}}</h6>
                    <span>Address: {{session.location.address}}, {{session.location.city}} {{session.location.state}}</span>
                </div>
            </div>
        </div>
    </div>

</div>