<form class="form-horizontal"  role="form" ng-submit="submit()">
	<h2>Basic Info</h2>
	<div class="form-group" >
		<label class="col-sm-2 control-label" for="address">Name</label>
		<div class="col-sm-10">
		<input class="form-control" type="text" name="name" ng-model="name" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="address">Category</label>
		<div class="col-sm-10">
		<select class="form-control"
		       ng-model="serviceCategory"
		       ng-options="c for c in serviceCategories"
		       >
		</select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="address">Description</label>
		<div class="col-sm-10">
		<input class="form-control" type="text" ng-model="description" name="description" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="address">Image</label>
		<div class="col-sm-10">
		<input class="form-control" type="upload" ng-model="image" name="image" />
		</div>
	</div>
	<h2>Show Us</h2>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
		<div class="map-canvas" init-google-maps="">

		</div>
	</div>
	</div>


	<div class="form-group">
	<div class="col-sm-offset-2 col-sm-10">
	<button type="submit" class="btn btn-default">Submit</button>
	</div>
	</div>
</form>