<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <appSettings>
    <add key="socrata.host" value="data.illinois.gov"/>
    <add key="socrata.sample.dataset" value="9gzm-cv4e"/>
    <add key="socrata.username" value="" />
    <add key="socrata.password" value="" />
    <add key="socrata.appToken" value="" />
  </appSettings>
  

</configuration>
