$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";
$icon-font-path:       "../bower_components/bootstrap-sass/fonts/" !default;

@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */

/* app css stylesheet */

.well { background-color: #d7dfed; }
.panel { border: 1px solid #aaa; background-color: #eee; }

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {

  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

body { background: #444; color: #fff; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

html, body {
  margin: 20px;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}



/* Voting Widget */

.votingWidget { margin: 30px 2% 0 0; text-align: center; }
.votingWidget .badge { margin-bottom: 4px; font-size: 16px; line-height: 18px; display: inline-block; } 

.votingWidget .votingButton { 
 font-size: 14px; line-height: 18px;
 cursor: pointer;
}


/* Service Request */
.service-image img { width: 100px; float: right; }


/* Report a Problem */
.map-canvas { width: 100%; height: 400px; }